/* Google Font Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 90%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

h1{
  color: black;
}

/* Home Page */
.container{
  margin: none;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #D0CDCD;
  background: -webkit-linear-gradient(bottom, #D0CDCD, #B2B4AC);
  background: -moz-linear-gradient(bottom, #D0CDCD, #B2B4AC);
  background: linear-gradient(to top, #D0CDCD, #B2B4AC);
}

.left-row{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 10% 10%;
  margin-top: 15rem;
}

.name-style{
  color: #255384;
  font-size: 3rem;
}

.name-title{
  font-size: 2rem;
}

.about-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-btn{
  text-decoration: none;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.linkedIN:hover{
  background-color: #2867B2;
  color: #FFFFFF;
}

.github{
  margin-right: 8rem;
}

.github:hover{
  background-color: #6f42c1;
  color: #FFFFFF;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
  border-radius: 90%;
  margin-top: 8.5rem;
}


/* About Page */

.about-container{
  height: 90vh;
  display: grid;
  grid-template-rows: 20% 30% 20%;
  padding: 2rem 3rem;
  align-items: center;
  justify-content: center;
  background: #D0CDCD;
  background: -webkit-linear-gradient(bottom, #D0CDCD, #B2B4AC);
  background: -moz-linear-gradient(bottom, #D0CDCD, #B2B4AC);
  background: linear-gradient(to top, #D0CDCD, #B2B4AC);
}

.about-heading{
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}

.description{
  font-size: 3rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.resume-button{
  text-decoration: none;
  margin-top: 8rem;
  width: 10%;
  color: white;
  border: 2px solid black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background: -webkit-linear-gradient(right, #0E8DF2, #0809AA);
  background: -moz-linear-gradient(right, #0E8DF2, #0809AA);
  background: linear-gradient(to left, #0E8DF2, #0809AA);
  cursor: pointer;
}

.resume-button:hover{
  background: #0e97f2;
}

/* Projects Page*/

.project-container{
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2rem 3rem;
  align-items: center;
  justify-content: center;
  background: #D0CDCD;
  background: -webkit-linear-gradient(bottom, #D0CDCD, #B2B4AC);
  background: -moz-linear-gradient(bottom, #D0CDCD, #B2B4AC);
  background: linear-gradient(to top, #D0CDCD, #B2B4AC);
}

.card{
  background: tomato;
  width: 100%;
  padding: 2px 16px;
}

.img-project{
  height: 50%;
  width: 50%;
}

/* Education Page */

/* Contact Page */

/* Navbar */

.navBar{
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #282c34;
  color: white;
  outline: none;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  outline: none;
  color: white;
  text-decoration: none;
}

.links{
  text-decoration: none;
  color: white;
}

.links:hover{
  color: pink;
  border-bottom: 3px solid pink;
}